body {
   background-color: #444;
}

.cell {
   width: 10%;
   height: 9rem;
   background-color: #999;
   margin: 5px;
   font-size: 6rem;
   font-weight: bolder;
   color: #fff;
   text-align: center;
   cursor: pointer;
}
.container {
   margin-top: 6rem;
   padding: 1rem;
   background-color: #555;
}